/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
/* Fim Reset*/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-image: url(./splogo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}
main{
    flex-grow: 1;
    background-color: white;
    display: flex;
}
.conteudo{
    width: 50%;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.destaque{
    background-image: url(./3d8d4a8fc4a47ddf7aaa007360d31aea.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.conteudo h1{
    font-size: 80px;
}
.conteudo p{
    font-size: 48px;
}
.conteudo button{
    height: 64px;
    width: 300px;
    font-size: 32px;
    background-color: black;
    color: white;
}
.social{
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
}
.social div.site{
    background-image: url(./images.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social div.instagram{
    background-image: url(./Instagram-Icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.social div.youtube{
    background-image: url(./332673-P9UDWM-638.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.destaque{
    width: 50%;
    background-color: lightgray;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    color: gray;
    align-items: center;
}